.hero-background-img {
  background-image: url(/pictures/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-x: center;
  height: 380px;
}
.hero-heading {
  background-color: $yellow;
}
.big-btn {
  max-width: 350px;
  background: $cyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  &:hover {
    background: $orange;
  }
}

.auction-hero {
  max-width: 550px;
}
.credit {
  color: $blue;
}
.footer {
  background-color: $gray-400;
}
