.cta-logout-cta {
  max-width: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: $orange-dark;
  outline: 2px solid $yellow;

  &:hover {
    transform: translateY(2px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    background: $orange-dark;
  }
}

.profile-pic {
  max-width: 100px;
}
.profile-cards {
  width: 25rem;
}

.list-Items {
  height: 38rem;
}

.avatar-button {
  max-width: 200px;
  background: $cyan;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  transition: all ease 0.2s;
  outline: 2px solid $orange;
  &:hover {
    background: $orange;
    transform: translateY(2px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }
}
