.profile-info {
  width: 13rem;
}

.seller-Picture {
  object-fit: cover;
}
.profilGoods {
  max-width: 325px;
}

.list_class {
  display: flex;
  justify-content: space-between;
}

.Specific-picture {
  max-width: 485px;
  width: 100%;
}
